/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px
) !default;

// ===================================================================
// MEDIA QUERIES
// ===================================================================
// $media-query - {map}
$mq: (
  p: 'print',
  s: 'screen',
  ld: '(orientation: landscape)',
  pt: '(orientation: portrait)',
  hd: 'handheld',
  r2:
    (
      '(-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi)'
    ),
  r3:
    (
      '(-webkit-min-device-pixel-ratio: 3), (min-resolution: 3dppx), (min-resolution: 300dpi)'
    ),
  ar169: ('device-aspect-ratio: 16/9')
) !default;

// ===================================================================
// z-index
// ===================================================================
// $zindex - {map}
$zindex: (
  null: 0,
  back: -1000,
  default: 1,
  base: 1000,
  footer: 1100,
  header: 1000,
  sidebar: 900,
  drop: 1300,
  overlay: 1400,
  top: 1000,
  modal: 1500
) !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;
